@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800&display=swap');

.font {
    font-family: 'Lato', sans-serif;
}

nav .brand-logo {
    padding-left: 10px;
}

.nav-items {
    text-transform: uppercase;
    font-weight: 300;
    font-size: large;
}

.book-items {
    padding: 10px !important;
    font-size: larger;
    font-weight: 300;
}

.intro-paragraph {
    font-size: larger;
    font-weight: 300;
}

.find-it-btn {
    padding-top: 15px !important;
}

.btn {
    font-weight: 300; 
}

.btn-floating {
    font-size: large;
    font-weight: 300;
    background-color: cadetblue;
}

.search-bar {
    font-size: larger !important;
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

.flashes {
    background-color: rgb(250, 250, 181);
    color: rgb(169, 169, 169);
    text-align: center;
    line-height: 2;
    overflow: hidden; 
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.flash-font {
    font-weight: 300;
}

.profile-header {
    font-weight: 300;
}

/* http://jsfiddle.net/jstol/wZYty/ */
.rating {
    border: 0.1em solid grey;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
    
}

.rating p {
	margin-top: 0.10em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: grey;
}

.collasiple-header {
    display: block;
}

.books {
    margin: 0;
    width: 100%;
}

.margin {
    margin: 0;
}

/*-- https://stackoverflow.com/questions/15300059/css-how-to-make-image-container-width-fixed-and-height-auto-stretched --*/
img {
    max-width: 100%;
    height: auto;
}

.cover {
    width: 200px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  @media screen and (max-width: 550px) {
      .cover {
          display: none;
      }

      .find-it-btn {
          font-size: small;
      }
  }

  @media screen and (max-width:720px) {
      .book-items {
          font-size: medium;
      }

      .books {
          font-size: large;
      }
  }

