{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-search prefix"></i>
        <input type="text" name="query" id="query" required>
        <label for="query" class="search-bar">Search UniBook collection!</label>
      </div>

      
  </form>
</div>

  <header>
    <div>
      <h2>
        UniBook Collection:
      </h2>
      <p class="intro-paragraph">
        Simply click on a book to find out more info!
      </p>
    </div>
  </header>

  <ul class="collapsible popout">
    {% for book in books %}
    <li>
      <div class="collapsible-header">
        <div class="cover">
          <img src="{{ book.book_image }}" alt="">
        </div>

        <div class="row books">
          <div class="col s12">
            <h5>
              {{ book.book_name }}
            </h5>
          </div>
          <div class="col s9 book-items">
            <div class="col s9">
              <i class="fas fa-graduation-cap prefix"></i>{{ book.topic_name }}
            </div>
            <div class="col s9">
              <i class="fas fa-book prefix"></i>{{ book.sub_topic }}
            </div>
          </div>
          <div class="col s3">
            <a class="btn-floating btn-large waves-effect waves-light">{{ book.book_rating}} / 5</a>
          </div>
          <div class="col s6 find-it-btn">
            <a href="{{ book.book_link }}" target="_blank" class="waves-effect waves-light btn">Find it here!</a>
          </div>
          {% if session.user|lower == "admin"|lower %}
            <div class="col s6 find-it-btn">
              <a href="{{ url_for('edit_book', book_id=book._id) }}" class="waves-effect waves-light btn red darken-2">Edit this book</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="collapsible-body">
            <strong class="bold">Author:</strong> {{ book.book_author }} <br>
            <span><strong class="bold">Description:</strong><br> {{ book.book_description }}</span><br>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
