{% extends "base.html" %}
{% block content %}

<div class="teal lighten-5">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="fa fa-search">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
  
    {% for book in books %}
        {{ book.book_name }}<br>
        {{ book.sub_topic }}<br>
        {{ book.book_author }}<br>
        {{ book.book_description }}<br>
        {{ book.book_link }}<br>
    {% endfor %}

{% endblock %}
