{% extends "base.html" %}
{% block content %}

<div class="teal lighten-5">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="fa fa-search">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>

  <ul class="collapsible popout">
    {% for book in books %}
    <li>
      <div class="collapsible-header">
        <div class="row books">
          <div class="col s12">
            <h5>
              {{ book.book_name }}
            </h5>
          </div>
          <div class="col s9">
            {{ book.topic_name }}
          </div>
          <div class="col s3">
            <p class="margin">{{ book.book_rating}} / 5</p>
          </div>
          <div class="col s9">
            {{ book.sub_topic }}
          </div>
          <div class="col s3">
            PDF Available!
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <span><strong>Author:</strong> {{ book.book_author }}</span><br>
        <span><strong>Description:</strong><br> {{ book.book_description }}</span><br>
        <span><strong>Find the book:</strong> <a href="{{ book.book_link }}">here!</a></span>
        
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
