{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Lets edit your book collection!</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
      <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-book prefix text-darken"></i>
          <input id="book_name" name="book_name" type="text" class="validate" value="{{ book.book_name }}" minlength="5" maxlength="50" required>
          <label for="book_name">Book Title:</label>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-pen prefix text-darken"></i>
            <input id="book_author" name="book_author" type="text" class="validate" value="{{ book.book_author }}" minlength="5" maxlength="50" required>
            <label for="book_author">Book Author:</label>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-graduation-cap prefix text-darken"></i>
            <select id="topic_name" name="topic_name" class="validate" required>
              <option value="" disabled selected>Select the main topic field!</option>
              <option value="Science">Science</option>
              <option value="Engineering and Tech">Engineering and Tech</option>
              <option value="Law">Law</option>
              <option value="Medicine">Medicine</option>
              <option value="Arts">Arts</option>
              <option value="Other">Other</option>
            </select>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-glasses prefix text-darken"></i>
            <input id="sub_topic" name="sub_topic" type="text" class="validate" value="{{ book.sub_topic }}" minlength="2" maxlength="50" required>
            <label for="sub_topic">Sub Topic:</label>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-star prefix text-darken"></i>
            <select id="book_rating" name="book_rating" class="validate" required>
              <option value="{{ book.book_rating }}" selected>How would you rate the book?</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </div>
        <div class="input-field col s12">
            <i class="fas fa-shopping-cart prefix text-darken"></i>
            <input id="book_link" name="book_link" type="text" class="validate" minlength="5" value="{{ book.book_link }}" maxlength="50" required>
            <label for="book_link">Link to purchase:</label>
        </div>
        <div class="input-field col s12">
            <i class="far fa-image prefix text-darken"></i>
            <input id="book_image" name="book_image" type="text" value="{{ book.book_image }}" class="validate">
            <label for="book_image">Book Image Link:</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
        <div class="input-field col s12 materialize-textarea">
            <i class="fas fa-pen prefix text-darken"></i>
            <input id="book_description" name="book_description" type="text" class="validate" value="{{ book.book_description }}" minlength="5" required>
            <label for="book_description">Describe the book for everyone at UniBook</label>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large waves-effect waves-light" name="action">
                    Edit book on the UniBook Collection!
                </button>
            </div>
        </div>

      </div>
    </form>
  </div>

{% endblock %}