{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit topic</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_topic', topic_id=topic._id) }}">
      <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-book prefix text-darken"></i>
          <input id="topic_name" name="topic_name" value="{{ topic.topic_name }}" type="text" class="validate" minlength="2" maxlength="50" required>
          <label for="topic_name">Topic:</label>
        </div>
        
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_topics') }}" class="btn-large red">Cancel</a>
                <button type="submit" class="btn-large waves-effect waves-light" name="action">
                    Edit topic!
                </button>
            </div>
        </div>

      </div>
    </form>
  </div>

{% endblock %}