{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card-panel">
        {% for detail in details %}
        
        <h2>
            Welcome {{ detail.username }}! <br>
        </h2>
        <h4>
            {{ detail.firstname }} {{ detail.lastname }}
        </h4>
        <h5>
            <p><strong>Course of study:</strong> {{ detail.course }}</p>
            <p><strong>University:</strong> {{ detail.university }}</p>
        </h5>
        
        {% endfor %}
      </div>
      <div>
        <a href="{{ url_for('add_book') }}">Add a new book here!</a>
      </div>
    </div>
  </div>

  {% endblock %}