{% extends "base.html" %}
{% block content %}

<h2 class="center-align">
    <span>Lets get started!</span>
</h2>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel teal lighten-5">
        <div class="row">
            <div class="input-field col s6">
                <i class="fas fa-user prefix"></i>
                <input id="firstname" name="firstname" type="text" class="validate"
                minlength="2" maxlength="10" pattern="^[a-zA-Z]{2,10}$" required>
                <label for="firstname">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lastname" name="lastname" type="text" class="validate"
                minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}$" required>
                <label for="lastname">Last Name</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-user-graduate prefix text-darken"></i>
                <select id="course" name="course" class="validate">
                  <option value="1" disabled selected>Choose your University course!</option>
                  <option value="Science">Science</option>
                  <option value="Engineering and Tech">Engineering and Tech</option>
                  <option value="Law">Law</option>
                  <option value="Medicine">Medicine</option>
                  <option value="Arts">Arts</option>
                  <option value="Other">Other</option>
                </select>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-university prefix text-darken"></i>
                <input id="university" name="university" type="text" class="validate">
                <label for="university">Your University</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix text-darken"></i>
                <input id="username" name="username" type="text" class="validate"
                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-user-lock prefix text-darken"></i>
                <input id="password" name="password" type="password" class="validate"
                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
              </div> 
          </div>
          <div class="row">
            <button class="btn-large waves-effect waves-light col s12 modal-trigger" type="submit" name="action" data-target="modal1">Register
                <i class="fas fa-paper-plane"></i>
            </button>
          </div>
          <div class="row center-align">
              <span>
                  Already a member? Awesome! Log in <a href="">here!</a>
              </span>
          </div>
      </div>
    </form>
  </div>

  {% endblock %}